[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	r = reset
	ll = log --pretty=oneline
[color]
	ui = true
[user]
	name = Andy Zhang
	email = herder.fern-0z@icloud.com
[push]
	default = upstream
[core]
	editor = nvim
	excludesfile = /Users/andyzhang/.gitignore
	ignorecase = false
	pager = delta
[merge]
	tool = nvimdiff
	; conflictstyle = diff3
[mergetool]
	prompt = true
; [mergetool "nvimdiff"]
; 	cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$BASE\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd J\"
; [mergetool "vscode"]
; 	cmd = code --wait $MERGED
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
	colorMoved = default
	guitool = meld
; [difftool "nvimdiff"]
; 	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd L\"
; [difftool "vscode"]
; 	cmd = code --wait --diff $LOCAL $REMOTE
[http]
	# proxy = http://127.0.0.1:18080
[pager]
	branch = false
[commit]
	gpgsign = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	# side-by-side = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[includeIf "gitdir:~/git/"]
    path = ~/Library/CloudStorage/Box-Box/Personal/dotfiles/work.gitconfig
